
@import  url('./__wrapper/about-author__wrapper.css');
@import  url('./__wrapper/__container/about-author__container.css');
@import  url('./__wrapper/__photo/about-author__photo.css');
@import  url('./__wrapper/__container/__subtitle/about-author__subtitle.css');
@import  url('./__wrapper/__container/__info/about-author__info.css');

.about-author {
    max-width: 1440px;
	color: #1A1B22;
	}

@media (max-width: 320px) {
	.about-author {
		max-width: 320px;
	}
	.about-author__wrapper {
		width: 288px;
		flex-direction: column;
		align-items: center;
	}
	.about-author__photo {
		max-width: 272px;
		max-height: 272px;
		margin-top: 20px;
		margin-bottom: 24px;
	}
	.about-author__container {
		width: 288px;
		margin-top: 24px;
		padding: 0;
		margin: auto;
	}
	.about-author__subtitle{
		font-size: 30px;
	}
} 

@media (min-width: 321px) and (max-width: 768px) {
	.about-author {
		max-width: 768px;
	}
	.about-author__wrapper {
		width: calc(100% - 80px);	
	}
	.about-author__photo {
		max-width: 232px;
		max-height: 232px;
		margin-top: 40px;
	}
	.about-author__container {
		margin-top: 42px;
		width: calc(100% - 232px);
		margin-left: 32px;
		padding-right: 20px;
	}
	.about-author__subtitle {
		font-size: 30px;
	}
} 

