.footer__info {  
      font-size: 18px;
      display: flex;
      justify-content: space-between;
      }

.footer__info a {  
      margin-right: 48px;
      color: #1A1B22;
      }

.footer__info a:last-child {  
      margin-right: 0px;
      }


