.header__logo {
    font-size: 20px;
    line-height: 24px;
    margin: 30px 0px 26px 40px;
}

@media (max-width: 320px) {
  .header__logo {
    margin-left: 16px;
	margin-top: 16px;
	margin-bottom: 16px;
	font-size: 16px;
	line-height: 24px;
  }
} 

@media (min-width: 321px) and (max-width: 768px) {
  .header__logo {
      margin-right: 40px;
      margin-top: 22px;
    }
} 