.graph__container {
    display: flex;
    color: #B6BCBF;
    font-size: 12px;
    margin-top: 48px;
    text-transform: uppercase;
    box-shadow: inset 0px -1px 0px #1A1B22;
    padding-bottom: 15px ;
}