@import url('./__nav/analytics__nav.css');
@import url('./__text/analytics__text.css');
@import url('./__title/analytics__title.css');
@import url('./__wrap/analytics__wrap.css');


.analytics {
    max-width: 1440px;
    color: #1A1B22;
    padding-bottom: 80px;
    
}


@media (max-width: 320px) {
    .analytics {
        padding-bottom: 40px;
        
    }
    .analytics__wrap {
        margin: auto;
        padding-top: 0px;
        width: calc(100% - 32px);
       

    }
    .analytics__nav {
        display: none;
    }
    .analytics__title {
        margin-top: 16px;
        font-size: 30px;
    }
    .analytics__text {
    }
} 

@media (min-width: 321px) and (max-width: 768px) {
    .analytics {
        padding-bottom: 40px;
    }
    .analytics__wrap {
        width: 688px;
    }
    .analytics__nav {
  
    }
    .analytics__title {
        font-size: 32px;
        margin-top: 64px;
       
    }
    .analytics__text {
       
    }
} 