.header__menu {
    color: #B6BCBF;
    margin-top: 30px;
}

@media (max-width: 320px) {
    .header__menu{
         margin-top: 16px;
		 font-size: 16px;
		line-height: 24px;
    }
  } 
  
  @media (min-width: 321px) and (max-width: 768px) {
    .header__menu{
        margin-top: 22px;
      }
  } 