.header__container {
    margin-right: 40px;
    font-size: 18px;
    display: flex;
}

@media (max-width: 320px) {
    .header__container{
      margin-right: 16px;
	   font-size: 16px;
    }
  } 

  @media (min-width: 321px) and (max-width: 768px) {
    .header__container{
        margin-right: 40px;
      
      }
} 