

.subtitle {
	color: #1A1B22;
	font-size: 40px;
	margin-left: 52px;
	
}

  @media (max-width: 320px) {
     .subtitle {
	font-size: 30px;
	margin: auto;
	max-width: 288px;
  }
} 

@media (min-width: 321px) and (max-width: 768px) {
  .subtitle {
	font-size: 30px;
	padding-top: 40px;
	max-width: 336px;
	margin-left: 20px;
	
  }
} 