
.footer__social {
    display: flex;
    flex-direction: row;
    background-color: lightblue;
  }
  

  .footer__social a {
    margin-right: 28px;
  }

  .footer__social a:last-child {
    margin-right: 0px;
  }

  
