@import  url('./__wrap/graph__wrap.css');
@import  url('./__wrap/__title/graph__title.css');
@import  url('./__wrap/__histogram/graph__histogram.css');
@import  url('./__wrap/__histogram/__bar/graph__bar.css');
@import  url('./__wrap/__histogram/__days/graph__days.css');
@import  url('./__wrap/__container/__cell/graph__cell.css');
@import  url('./__wrap/__container/graph__container.css');
@import  url('./__wrap/__container/_counterwrap/graph__container_counterwrap.css');
@import  url('./__wrap/__container/__cell/_counter/graph__cell_counter.css');
@import  url('./__wrap/__histogram/__wrapper/graph__wrapper.css');

.graph {
    max-width: 1440px;
    background: #F5F6F7;
    padding-bottom: 116px;
}

@media (max-width: 320px) { 
    .graph__title {
        font-size: 22px;
    }
    .graph__wrap {
        max-width: calc(100% - 32px);
        margin: auto;
        padding-top: 24px;
    }
    .graph__container {
        margin-top: 16px;
        padding-bottom: 8px ;
    }
    .graph__container_counterwrap {
        display: none;
    }
    .graph__wrapper {
        margin-bottom: 24px;
    }
    .graph {
    padding-bottom: 38px;
}

}

@media (min-width: 321px) and (max-width: 768px) {
    .graph__wrap {
        padding-top: 40px;
        max-width: calc(100% - 80px);
    }

    .graph {
        width: 100%;
        padding-bottom: 76px;
    }
}