.techstack-card__icon_wrap {
    width: 88px;
    height: 97px;
    background-image: url('../../../../../../../images/bgicon.svg');
    position: relative;

}

.bg_2 {
    background-image: url('../../../../../../../images/square.svg');
}

.bg_3 {
    background-image: url('../../../../../../../images/webpack.svg');
}