
.searchresult__see-also {
	 max-width: 288px;
	 height: 64px;
	 margin: auto;
	 width: 100%;
	 margin-top: 64px;
	 margin-bottom: 80px;
	 background: #FFFFFF;
	 border-radius: 80px;
	 font-size: 18px;
	 
}

@media (max-width: 320px) {
     .searchresult__see-also {
		margin-top: 13px;
		margin-bottom: 44px;
  }
} 

@media (min-width: 321px) and (max-width: 768px) {
  .searchresult__see-also {
	max-width: 240px;
	height: 56px;
    margin-top: 32px;
    margin-bottom: 40px;
  }
} 