@import  url('./__cardlist/gh-history__cardlist.css');
@import  url('./__cardlist/__card/__wrap/gh-history__wrap.css');
@import  url('./__cardlist/__card/__wrap/__avatar/card__avatar.css');
@import  url('./__cardlist/__card/__wrap/__container/text__container.css');
@import  url('./__cardlist/__card/__wrap/__container/__mail/card__mail.css');
@import  url('./__cardlist/__card/__wrap/__container/__name/gh-history__card-name.css');
@import  url('./__cardlist/__card/gh-history__card.css');
@import  url('./__cardlist/__card/__date/gh-history__card-date.css');
@import  url('./__cardlist/__card/__description/gh-history__card-description.css');

.gh-history {
    padding-bottom: 64px;
    background: #F5F6F7;
}

@media (max-width: 320px) {
    .gh-history  {
        max-width: 320px;
        }
    } 

@media (min-width: 321px) and (max-width: 768px) {
    .title__wrapper_margin {
        padding-top: 0px;
    }

    .card__wrap {
        max-width: 288px;
        margin: auto;
        display: flex;
        margin-top: 19px;
        flex-direction: row;
    }

    .gh-history__card-name {
        font-size: 20px;
    }
}

@media (min-width: 769px) and (max-width: 1439px) { 

}