
.card {
	max-width: 400px;
	border-radius: 16px;
	background: #FFFFFF;
	color: #1A1B22;
	height: 576px;

}



  @media (max-width: 320px) {

} 

@media (min-width: 321px) and (max-width: 768px) {
	.card {
		height: 430px;
	}
} 