
@import url('../footer/__columns/footer__columns.css');
@import url('../footer/__columns/__social/footer__social.css');
@import url('../footer/__columns/__social/_icons/footer__social_icons.css');
@import url('../footer/__columns/__info/footer__info.css');
@import url('../footer/__columns/__author/footer__author.css');





@media (max-width: 320px) {
    .footer__columns {
        width: calc(100% - 32px);
        flex-wrap: wrap;
        align-items: flex-start;
        padding-top: 0px;
 }
} 

@media (min-width: 321px) and (max-width: 768px) {
 .footer__columns {
    max-width: 728px;
    width: calc(100% - 80px);
 }
} 