
.card__source {
	width: 352px;
	margin: auto;
	margin-top:18px;
	font-size: 16px;
	letter-spacing: 0.4px;
	text-transform: uppercase;
	color: #B6BCBF;
}

  @media (max-width: 320px) {
     .card__source {
		max-width: 256px;
		margin-top: 5px;
  }
} 

@media (min-width: 321px) and (max-width: 768px) {
  .card__source {
		margin-top: 12px;
		width: 192px;
  }
} 