@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/header/header.css);
@import url(../blocks/search/search.css);
@import url(../blocks/searchbg/searchbg.css);
@import url(../blocks/searchresult/searchresult.css);
@import url(../blocks/about-author/about-author.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/analytics/analytics.css);
@import url(../blocks/graph/graph.css);
@import url(../blocks/about/about.css);
@import url(../blocks/techstack/techstack.css);
@import url(../blocks/gh-history/gh-history.css);
@import url(../blocks/noresult/noresult.css);
@import url(../blocks/preloader/preloader.css);

  body {
	color: #ffffff;
	
  }

  input:focus {
    outline: none;
}

button {
	outline:none;
}

  .page {
    font-family:'Roboto';
    max-width: 1440px;
    margin-top: 30px;
    margin: auto;
	font-size: 14px;
	padding: 0 20px 0px 20px;
  }
   

  @media (max-width: 320px) {
    .page	{
		padding: 0;
    }
  } 

  
  @media (min-width: 321px) and (max-width: 768px) {
	.page	{
		padding: 0;
	}
  }

	a {
		text-decoration: none;
		padding: 0px;
		margin: 0px;
	}

	h1 {
		padding: 0;
		margin: 0;
		font-weight: normal;
	}

	h2 {
		padding: 0;
		margin: 0;
		font-weight: normal;
		font-family: RobotoSlab,serif;
	}



	h3 {
		padding: 0;
		margin: 0;
		font-weight: normal;
		font-family: RobotoSlab,serif;
	}
	
	p {
		padding: 0;
		margin: 0;
	}

	form{
		padding: 0;
		margin: 0;
	}

	button {
		border: 0;
		padding: 0;
		margin: 0;
	}

	ul {
		display: block;
		padding: 0;
		margin: 0;
	}

	 li{
		display: block;
		padding: 0;
		margin: 0;
		color: #1a1b22;
	}

	.error_text {
		color: red;
	}

	
	  