
.title__wrapper{
	max-width: 1336px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
	  margin-top: 80px;
    align-items: center;
 
	
}

.title__wrapper_margin{
  margin-top: 0px;
  padding-top: 72px;
}


  @media (max-width: 320px) {
     .title__wrapper {
		margin-top: 32px;
		display: flex;
		flex-direction: column;
		
  }
} 

@media (min-width: 321px) and (max-width: 768px) {
  .title__wrapper {
	max-width: 728px;
	
	
  }
} 