.header__content {
    max-width: 1310px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: 320px) {
     .header__content {
  height: 56px;
  }
} 

@media (min-width: 321px) and (max-width: 768px) {
  .header__content {
  height: 64px;
  }
} 