.footer__columns {
    width: calc(100% - 208px);
	margin: auto;
    display: flex;
    justify-content: space-between; 
    margin-bottom: 26px;
    padding-top: 30px;
    padding-bottom: 26px;
    background-color: gold;
}


