.graph__bar {
    height: 100%;
    padding-left: 6px;
    background: #2F71E5;
}
.graph__bar__wrapper {
    height: 24px;
    line-height: 24px;
    margin-bottom:56px;
    font-size: 12px;
    width: 100%;
}

.graph__bar__wrapper:last-child {
    margin-bottom: 0px;
}



.bar_demo_1 {
    width:calc(15% - 6px);
}

.bar_demo_2 {
    width: calc(18% - 6px);
}

.bar_demo_3 {
    width: calc(11% - 6px);
}
.bar_demo_4 {
    width: calc(39% - 6px);
}

.bar_demo_5 {
    width: calc(45% - 6px);
}

.bar_demo_6 {
    width: calc(73% - 6px);
}

.bar_demo_7 {
    width: calc(34% - 6px);
}



