.gh-history__cardlist {
    margin-top: 64px;
    overflow: hidden;
    height: 400px;
    }

.gh-history__arrow {
    position: absolute;
    width: 70px;
    height: 300px;
    top: 0;
    z-index: 10;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    }

.prev-link {
    left: 0;
    background-image: url('../../../images/slider-control.png');
    }

.next-link {
    right: 0;
    background-image: url('../../../images/sright.png');
    }