.slider__button:after {
  font-size: 12px;
  line-height: 25px;
  font-weight: 600;
  color: #fff;
  background-color: #1A1B22;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
}