.header__menu_active {
    margin-right: 34px;
    color: #FFFFFF;
    border-bottom: 3px solid white;
    
}

.header__menu_active_blck {
  color: #1A1B22;
  border-bottom: 3px solid black;
  
}


@media (max-width: 320px) {
    .header__menu_active{
        margin-top: 16px;
		margin-right: 11px;
		font-size: 16px;
		line-height: 24px;
    }
  } 
  
  @media (min-width: 321px) and (max-width: 768px) {
    .header__menu_active{
        margin-top: 22px;
      }
  } 