.about-author__wrapper{
	max-width: 1120px;
	display:flex;
	margin: auto;
	padding-bottom: 80px;

	
}

  @media (max-width: 320px) {
    .about-author__wrapper{
	  width: 288px;
	  flex-direction: column;
	  align-items: center;

    }
  } 

@media (min-width: 321px) and (max-width: 768px) {
	.about-author__wrapper {
		max-width: 688px;
		
		
	}
} 