h1 {
 color: rgb(216, 220, 231);
  text-align: center;
}

h2 {
  color: rgb(202, 198, 189);
  text-align: center;
}

.rada{
   width: 500px;
    height: 260px;
    border-radius: 15px;
    background-color: rgb(94, 75, 102);
    text-align: center;
    font-size: 25px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(216, 220, 231);
    font-size: 30px;
}

.header{
  display: flex;
    width: 50%;
    background-color: rgb(65, 54, 54);
    flex-direction: column;
    margin-right: auto;
    border-radius: 10px;
    margin-left: auto;
    margin-top: 25px;
   
}

.content {
  height: 900px;
    background-color: rgb(195, 178, 178);
    display: flex;
    flex-direction: column;
}