.search__text{
    margin-top: 32px;
    max-width: 608px;
    font-size: 18px; 
}

@media (max-width: 320px) {
    .search__text{
		max-width: 288px;
		font-size: 20px;
		margin-top: 56px;
    }
} 

@media (min-width: 321px) and (max-width: 768px) {
    .search__text{
        max-width: 385px;
        margin-top: 16px;
    }
} 