@import url('./__logo/header__logo.css');
@import url('./__container/header__container.css');
@import url('./__container/header__menu.css');
@import url('./__container/_active/header__menu_active.css');
@import url('./__content/header__content.css');
@import url('./_black/header_black.css');
@import url('./__container/_blackborder/header__menu_blackborder.css');


.header {
  margin: auto;
  height: 80px;
  background: rgba(196, 196, 196, 0.01);
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
  
}



@media (max-width: 320px) {
     .header {
	height: 56px
  }
  .header__menu_blackborder {
 
    margin-right: 11px;
}
} 

@media (min-width: 321px) and (max-width: 768px) {
  .header {
  height: 64px;
  }
} 